body 
  {
    background: url(https://dubplate.fm/sites/default/files/wallpaper-80022.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

   p
   {
       color: white
   }

   h1
   {
    color: white
    
   }

	a
	{
		color: white;
	}
   /* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: black;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}